<!-- views/sign.ejs -->
    
<div class="form-box">
    <form action="/<%= link %>" method="post">
        <input name="email" type="email" placeholder="이메일을 입력해주세요">
        <input name="password" type="password" placeholder="비밀번호를 입력해주세요">
        <!-- login / join 비슷한 템플릿이기 때문에 변수로 분기처리 -->
        <%if (link  == 'signup'){%>
        <input name="name" type="name" placeholder="이름을 입력해주세요">
        <% } %>
        <button type="submit"><%= title %></button>
    </form>
    <% if (message.length > 0) { %>
    <div class="alert alert-warning" role="alert">
        <strong><%= message %></strong>
    </div>
    <% } %>
</div>
